<style>
  .active{

  background:#00C851;
  }
  .deactive{
  background:#ff4444;
  }
</style>

{{!-- <form class="form-inline">
  <div class="form-group mb-2">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search" required>
  </div>

  <button class="btn btn-default btn-md mb-3" type="submit"><i class="fa fa-search"></i></button>
</form> --}}

<p><b>User</b> management</p>

<table class="mt-3 table table-hover">
 <thead class="teal lighten-2 white-text">
   <tr>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td> <b>{{userName}}</b></td>
      <td> {{role}}</td>
      <td> <span class="badge badge-pill {{status}}">{{status}}</span></td>
      <td><a class='btn btn-md btn-outline-primary' href="/admin/user/manage/{{_id}}"><i class="fas fa-user-edit"></i></a></td>

    </tr>
    {{else}}
      <p class='text-primary'> <b>It's a bit lonely here....</b></p>
    {{/each}}
  </tbody>
</table>