
{{!-- 
<div class="row">
    <div class="col"><h3><b>Review</b> section</h3></div>
    <div class="col"><p class="text-center">Here you can review your collections.</p></div>
</div> --}}
<table class="mt-3 table table-striped table-responsive">
    <thead style="//background: linear-gradient(to right, #8a2387, #e94057, #f27121);" class="black white-text">
        <tr>
            
            <th scope="col">Reciept</th>
            <th scope="col">Customer</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment Month</th>
            <th scope="col">Collection Date</th>
            <th scope="col">Review</th>
        </tr>
    </thead>
    <tbody>
        {{#each payments}}
        <tr>
            <td>  
                
               <form action="/collector/payment/reciept" method="POST">
                   <input type="hidden" value="{{_id}}" name="paymentId">
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fas fa-receipt"></i></button>
               </form> 
              
            <td> <b>{{customer}}</b></td>
            <td>{{amount}}</td>
            <td>{{payment_month}}-{{payment_year}}</td>
            <td><span class="d-inline-block text-truncate" style="max-width: 200px;">
                    {{date}}
                </span></td>
            <td>
                
             
                <a href="" class="btn btn-sm btn-warning"><i class="fas fa-pen-alt"></i></a>
       
            </td>

        </tr>
        {{else}}
       <p class='text-primary'> <b>It's a bit lonely here....</b></p>
        {{/each}}
    </tbody>
</table>