<!--collector dashboard -->

<!--admin dashboard -->

<div class="row mb-4 ml-2 mt-1">

    <h4> <b>Welcome: </b> &nbsp; {{user.userName}}<span class="badge badge-pill pink">{{user.role}}</span></h4>

</div>


<div class='row'>
    {{#each uiElement}}
    <div class='col-lg-4 col-md-6'>
        <div class="card  mt-1 mb-2">
            <h4 class="card-header py-3 {{header.bgColor}} font-weight-bold {{header.textColor}}"><i class="{{header.icon}}"></i>&nbsp;{{header.title}}</h4>
            <div class="card-body">
                <p class="card-text">{{body.text}}</p>

                <button type="button" class="btn blue lighten-2"><i class="fas fa-file-alt"></i></button>

                <!-- Basic dropdown -->
                <div class="btn-group">

                    <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-edit"></i></button>

                    <div class="dropdown-menu" style="border:2px solid #03a9f4">


                        {{#each dropdown}}
                        <a class="dropdown-item my-1 font-weight-bold" href="{{link}}">{{title}}</a>
                        {{/each}}
                    </div>
                </div>



            </div>





            <div class="card-footer {{footer.bgColor}} {{footer.textColor}}">
                <div class="row">

                    <div class="col-4"><i class="{{badges.badge1.icon}}"></i>&nbsp;{{badges.badge1.data}}</div>
                    <div class="col-4"><i class="{{badges.badge2.icon}}"></i>&nbsp;{{badges.badge2.data}}</div>
                    <div class="col-4"><i class="{{badges.badge3.icon}}"></i>&nbsp;{{badges.badge3.data}}</div>

                </div>

            </div>
        </div>
    </div>
    {{/each}}
</div>
